// widget header

.widget {
  background: $light-blue;
}
.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
}
.widget-header__title {
  margin: 0;
}

.widget__options {
  border-bottom: 1px solid lighten($off-white, 10%);
  padding: 0;
  margin: 0;
}

.widget__message {
  color: $off-white;
  margin: 0;
  text-align: center;
  padding: $l-size;
}

.widget__option {
  color: white;
  padding: $m-size;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
}
.widget__option:not(:last-child) {
  border-bottom: 1px solid $off-white;
}
.widget__error {
  color: $off-white;
  font-style: italic;
  text-align: center;
}
.widget__form {
  display: flex;
  flex-direction: column;
  padding: $s-size;
}
.widget__input {
  background: $dark-blue;
  border: none;

  flex-grow: 2;
  padding: $m-size;
  color: white;
  outline-color: rgba($purple, 0.5);
  outline-width: 1px;
}

@media (min-width: $desktop-breakpoint) {
  .widget__form {
    flex-direction: row;
  }
  .widget__input {
    padding: 0 $m-size;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
  }
}
